body{
  background-color: rgba(162, 194, 231, 0.9);
  background-image: url("image/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size:1.6rem;  
  font-family: 'Josefin Sans', sans-serif; height:100%;
  margin-top:15rem;
  text-align: center;
  box-sizing: content-box;
box-sizing: border-box;
  }
  img{max-width:100%;}
.register{
    background-color: rgba(24, 127, 245, 0.9);
    color: rgba(246, 246, 246, 0.9);
    padding: 1rem 2.0rem;
    margin: 1.5rem 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
  input{margin: 0.2rem 0.5rem;}
  a:link{color:purple;}
  a:visited{color:#db3c28;}
  a:hover,a:focus{color:teal;}
  a:active{color:blue;}
.checkbox{position: relative;}

.textcheckbox{display:inline; left:10px; top:0;}
@media screen and (min-width: 1200px) {body{background-color:pink;}}
@media print{body{background-color: white;}}

